In [148]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [149]:
days = ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Mon2']
df = pd.read_csv('data.csv', names = days)

In [150]:
# replace absent with the maximum arrival time possible, 6:00 pm, to represent "missed class time"
df['Mon'].loc[df['Mon'].str.contains('absent')] = '18:00'

In [151]:
np.array(df).shape
all_times = np.array(df).reshape(1,23*6)
all_times = pd.DataFrame(all_times.T)

In [152]:
df

        Mon      Tues      Wed    Thurs      Fri     Mon2
0   8:56 AM   9:00 AM  7:45 AM  7:45 AM  8:05 AM  7:45 AM
1   8:40 AM   8:40 AM  8:30 AM  8:30 AM  8:45 AM  8:20 AM
2   8:45 AM   8:20 AM  8:05 AM  8:00 AM  8:05 AM  8:00 AM
3   8:40 AM   8:40 AM  8:40 AM  8:25 AM  8:40 AM  8:40 AM
4   8:55 AM   8:50 AM  8:55 AM  8:10 AM  8:15 AM  8:05 AM
5   8:45 AM   8:45 AM  8:45 AM  8:40 AM  8:30 AM  8:40 AM
6   8:45 AM   8:54 AM  8:38 AM  8:40 AM  8:32 AM  8:41 AM
7     18:00  11:00 AM  8:35 AM  8:15 AM  8:10 AM  8:10 AM
8   8:39 AM   8:13 AM  8:15 AM  8:12 AM  8:10 AM  8:00 AM
9   9:00 AM   8:50 AM  8:50 AM  8:50 AM  8:40 AM  8:45 AM
10  8:40 AM   8:50 AM  8:40 AM  8:34 AM  8:20 AM  8:30 AM
11  8:15 AM   8:30 AM  8:13 AM  8:30 AM  7:45 AM  8:40 AM
12  8:45 AM   8:55 AM  8:45 AM  8:45 AM  8:00 AM  8:45 AM
13  8:45 AM   8:45 AM  8:05 AM  8:00 AM  8:00 AM  8:00 AM
14  8:45 AM   8:45 AM  9:00 AM  9:00 AM  8:50 AM  9:00 AM
15  8:15 AM   8:40 AM  8:25 AM  8:30 AM  7:30 AM  8:25 AM
16  8:45 AM   8:40 AM  8:45 AM  8:55 AM  8:45 AM  8:45 AM
17  8:45 AM   9:00 AM  9:00 AM  9:00 AM  9:00 AM  9:00 AM
18  8:50 AM   8:50 AM  8:57 AM  8:42 AM  8:35 AM  8:30 AM
19  8:15 AM   9:00 AM  8:35 AM  9:00 AM  8:58 AM  8:20 AM
20  8:45 AM   8:35 AM  8:27 AM  8:46 AM  8:31 AM  8:37 AM
21  8:45 AM   8:45 AM  9:00 AM  8:57 AM  8:57 AM  8:50 AM
22  8:45 AM   8:50 AM  8:30 AM  8:45 AM  8:50 AM  8:10 AM

In [153]:
def to_hours(time_as_string):
    time = time_as_string.split(':')
    time[1] = time[1][:2]
    time = [float(x) for x in time]
    return time[0] + time[1]/60

all_times = all_times.dropna().applymap(to_hours)

In [154]:
all_times.insert(0, 'day', '')

In [161]:
index_to_day = {0:'Mon', 1:'Tues', 2:'Wed', 3:'Thurs', 4:'Fri', 5:'Mon2'}    

for row in all_times.itertuples(name='day'):
#     print(row[0],row[1], row[2])
#     print(index_to_day[row[0]%6])
    row[1] = index_to_day[row[0]%6]
all_times

TypeError: 'day' object does not support item assignment

In [116]:
clean_df.head()
#frames = [clean_df.loc['all_mon','Mon'], 
#clean_df.loc['all_mon','Mon']

,all_mon,Mon,all_tues,Tues,all_wed,Wed,all_thurs,Thurs,all_fri,Fri,all_mon2,Mon2
0,Mon,8.933333,Tues,9.000000,Wed,7.750000,Thurs,7.750000,Fri,8.083333,Mon2,7.750000
1,Mon,8.666667,Tues,8.666667,Wed,8.500000,Thurs,8.500000,Fri,8.750000,Mon2,8.333333
2,Mon,8.750000,Tues,8.333333,Wed,8.083333,Thurs,8.000000,Fri,8.083333,Mon2,8.000000
3,Mon,8.666667,Tues,8.666667,Wed,8.666667,Thurs,8.416667,Fri,8.666667,Mon2,8.666667
4,Mon,8.916667,Tues,8.833333,Wed,8.916667,Thurs,8.166667,Fri,8.250000,Mon2,8.083333

In [110]:
sns.set(style = 'whitegrid')
y_range = [x/100 for x in range(700, 1200)]

ax = sns.boxplot(x=days, y= y_range, data = clean_df)

ValueError: could not broadcast input array from shape (22,6) into shape (22)